[Service]
WorkingDirectory=/home/<user>/src/rouser-pi
ExecStart=python3 /home/<user>/src/rouser-pi/main.py
Restart=always
RestartSec=15s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rouser-pi
User=root
Group=root
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target
